---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [ ]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [2]:
# Use this dictionary to map state names to two letter acronyms
import numpy as np
import pandas as pd
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [11]:
! cat "university_towns.txt"

Alabama[edit]
Auburn (Auburn University)[1]
Florence (University of North Alabama)
Jacksonville (Jacksonville State University)[2]
Livingston (University of West Alabama)[2]
Montevallo (University of Montevallo)[2]
Troy (Troy University)[2]
Tuscaloosa (University of Alabama, Stillman College, Shelton State)[3][4]
Tuskegee (Tuskegee University)[5]
Alaska[edit]
Fairbanks (University of Alaska Fairbanks)[2]
Arizona[edit]
Flagstaff (Northern Arizona University)[6]
Tempe (Arizona State University)
Tucson (University of Arizona)
Arkansas[edit]
Arkadelphia (Henderson State University, Ouachita Baptist University)[2]
Conway (Central Baptist College, Hendrix College, University of Central Arkansas)[2]
Fayetteville (University of Arkansas)[7]
Jonesboro (Arkansas State University)[8]
Magnolia (Southern Arkansas University)[2]
Monticello (University of Arkansas at Monticello)[2]
Russellville (Arkansas Tech University)[2]
Searcy (Harding University)[5]
California[edit]
Angwin (Pacific Union College)[2]
Arcata (Humboldt State University)[5]
Berkeley (University of California, Berkeley)[5]
Chico (California State University, Chico)[2]
Claremont (Claremont McKenna College, Pomona College, Harvey Mudd College, Scripps College, Pitzer College, Keck Graduate Institute, Claremont Graduate University)[5]
Cotati (California State University, Sonoma)[2]
Davis (University of California, Davis)[1]
Irvine (University of California, Irvine)
Isla Vista (University of California, Santa Barbara)[2]
University Park, Los Angeles (University of Southern California)
Merced (University of California, Merced)
Orange (Chapman University)
Palo Alto (Stanford University)
Pomona (Cal Poly Pomona, WesternU)[9][10][11] and formerly Pomona College
Redlands (University of Redlands)
Riverside (University of California, Riverside, California Baptist University, La Sierra University)
Sacramento (California State University, Sacramento)
University District, San Bernardino (California State University, San Bernardino, American Sports University)
San Diego (University of California, San Diego, San Diego State University)
San Luis Obispo (California Polytechnic State University)[2]
Santa Barbara (Fielding Graduate University, Santa Barbara City College, University of California, Santa Barbara, Westmont College)[2]
Santa Cruz (University of California, Santa Cruz)[2]
Turlock (California State University, Stanislaus)
Westwood, Los Angeles (University of California, Los Angeles)[2]
Whittier (Whittier CollegeRio Hondo College)
Colorado[edit]
Alamosa (Adams State College)[2]
Boulder (University of Colorado at Boulder)[12]
Durango (Fort Lewis College)[2]
Fort Collins (Colorado State University)[13]
Golden (Colorado School of Mines)
Grand Junction (Colorado Mesa University)
Greeley (University of Northern Colorado)
Gunnison (Western State College)[2]
Pueblo, Colorado (Colorado State University-Pueblo)
Connecticut[edit]
Fairfield (Fairfield University, Sacred Heart University)
Middletown (Wesleyan University)
New Britain (Central Connecticut State University)
New Haven (Yale University, University of New Haven, Southern Connecticut State University, Albertus Magnus College, Quinnipiac University)[14]
New London (Connecticut College, US Coast Guard Academy, Mitchell College)[2]
Storrs (University of Connecticut)[2]
Willimantic (Eastern Connecticut State University)[2]
Delaware[edit]
Dover (Delaware State University)[1]
Newark (University of Delaware)[1]
Florida[edit]
Ave Maria (Ave Maria University)
Boca Raton (Florida Atlantic University)
Coral Gables (University of Miami)
DeLand (Stetson University)[5]
Estero (Florida Gulf Coast University)
Gainesville (University of Florida, Santa Fe College)
Orlando (University of Central Florida)
Sarasota (New College of Florida, Ringling College of Art and Design, State College of Florida, Manatee-Sarasota, University of South Florida Sarasota-Manatee)
St. Augustine (Flagler College)
St. Leo (St. Leo University)
Tallahassee (Florida State University, Florida A&M University)
Tampa (University of South Florida)
Georgia[edit]
Albany (Albany State University)
Athens (University of Georgia)[15]
Atlanta (Georgia State University, Georgia Tech, Emory)[2]
Carrollton (University of West Georgia)[2]*Dahlonega (North Georgia College & State University)[2]
Demorest (Piedmont College)[2]
Fort Valley (Fort Valley State University)[2]
Kennesaw (Kennesaw State University)
Milledgeville (Georgia College & State University)[2]
Mount Vernon (Brewton-Parker College)[2]
Oxford (Oxford College)
Rome (Berry College, Shorter University)
Savannah (Armstrong Atlantic State University, Savannah State University, Savannah College of Art and Design)
Statesboro (Georgia Southern University)[5]
Valdosta (Valdosta State University)[2]
Waleska (Reinhardt College)[2]
Young Harris (Young Harris College)[2]
Hawaii[edit]
Manoa (University of Hawaii at Manoa)[2]
Idaho[edit]
Moscow (University of Idaho)[2]
Pocatello (Idaho State University)[2]
Rexburg (BYU-Idaho)[2]
Illinois[edit]
Carbondale (Southern Illinois University Carbondale)[5]
Champaign–Urbana (University of Illinois at Urbana–Champaign)[5]
Charleston (Eastern Illinois University)[2]
DeKalb (Northern Illinois University)[2]
Edwardsville (Southern Illinois University Edwardsville)[2]
Evanston (Northwestern University)[2]
Lebanon (McKendree University)[2]
Macomb (Western Illinois University)[2]
Normal (Illinois State University)[2]
Peoria (Bradley University)
Indiana[edit]
Bloomington (Indiana University Bloomington)[5]
Crawfordsville (Wabash College)
Greencastle (DePauw University)[5]
Hanover (Hanover College)[2]
Marion (Indiana Wesleyan University)[2]
Muncie (Ball State University)[2]
Oakland City (Oakland City University)[2]
Richmond (Earlham College)[2]
South Bend (Notre Dame University[2])
Terre Haute (Indiana State University, Rose-Hulman Institute of Technology)[2]
Upland (Taylor University)[2]
Valparaiso (Valparaiso University)
West Lafayette (Purdue University)[2]
Iowa[edit]
Ames (Iowa State University)[2]
Cedar Falls (University of Northern Iowa)[2]
Cedar Rapids, Iowa (Coe College )
Decorah (Luther College)[5]
Fayette (Upper Iowa University)[2]
Grinnell (Grinnell College)[15]
Iowa City (University of Iowa)[15]
Lamoni (Graceland University)[2]
Mount Vernon, (Cornell College)
Orange City (Northwestern College)[2]
Sioux Center (Dordt College)[2]
Storm Lake (Buena Vista University)[2]
Waverly (Wartburg College)[2]
Kansas[edit]
Baldwin City (Baker University)[5]
Emporia (Emporia State University)[2]
Hays (Fort Hays State University)[2]
Lawrence (University of Kansas, Haskell Indian Nations University)[15]
Manhattan (Kansas State University, Manhattan Christian College)[15]
Pittsburg (Pittsburg State University)[2]
Kentucky[edit]
Bowling Green (Western Kentucky University)[2]
Columbia (Lindsey Wilson College)[2]
Georgetown (Georgetown College)
Highland Heights (Northern Kentucky University)
Lexington (University of Kentucky, Transylvania University[5]
Louisville (University of Louisville)
Morehead (Morehead State University)[2]
Murray (Murray State University)[5]
Richmond (Eastern Kentucky University)[2]
Williamsburg (University of the Cumberlands)[2]
Wilmore (Asbury University, Asbury Theological Seminary)[2]
Louisiana[edit]
Baton Rouge (Louisiana State University, Southern University)
Grambling (Grambling State University)[5]
Hammond (Southeastern Louisiana University)[2]
Lafayette (University of Louisiana at Lafayette)
Monroe (University of Louisiana at Monroe)[2]
Natchitoches (Northwestern State University)[2]
Ruston (Louisiana Tech University)[2]
Thibodaux (Nicholls State University)[2]
Maine[edit]
Augusta (University of Maine at Augusta)[2]
Bar Harbor (College of the Atlantic)
Brunswick (Bowdoin College)
Farmington (University of Maine at Farmington)[2]
Fort Kent (University of Maine at Fort Kent)
Gorham (University of Southern Maine)[2]
Lewiston, Maine (Bates College)
Orono (University of Maine)[2]
Waterville (Thomas College, Colby College)
Maryland[edit]
Annapolis (United States Naval Academy, St. John's College)
Chestertown (Washington College)[2]
College Park (University of Maryland, College Park)[16]
Cumberland (Allegany College of Maryland)
Emmitsburg (Mount St. Mary's University)[2]
Frostburg (Frostburg State University)[5]
Princess Anne (University of Maryland Eastern Shore)[5]
Towson (Towson University, Goucher College)[2]
Salisbury (Salisbury University)[2]
Westminster (McDaniel College)
Massachusetts[edit]
Boston (Boston University, Boston College, Boston Conservatory, New England Conservatory, Brandeis University, Northeastern University, UMass Boston, Emmanuel College, Bunker Hill Community College, Roxbury Community College, Suffolk University, Simmons College, among many others)
Bridgewater (Bridgewater State College)[2]
Cambridge (Harvard University, Massachusetts Institute of Technology)(Lesley University, Cambridge College, Longy School of Music)[15]
Chestnut Hill (Boston College)
The Colleges of Worcester Consortium:
Dudley (Nichols College)
North Grafton (Cummings School of Veterinary Medicine at Tufts University)
Paxton (Anna Maria College)
Worcester (Assumption, Becker, Clark University, Holy Cross, Mass. College of Pharmacy & Health Sciences, Quinsigamond Community College, UMass Medical School, Worcester State University, Worcester Polytechnic Institute)
The Five College Region of Western Massachusetts:
Amherst (Amherst College, Hampshire College, University of Massachusetts Amherst)[15]
Northampton (Smith College)
South Hadley (Mount Holyoke College)
Fitchburg (Fitchburg State College)
North Adams (Massachusetts College of Liberal Arts)
Springfield (American International College), (Springfield College), and (Western New England College)
Waltham (Bentley University), (Brandeis University)
Williamstown (Williams College)
Framingham (Framingham State University)
Michigan[edit]
Adrian (Adrian College, Siena Heights University)
Albion (Albion College)[17]
Allendale (Grand Valley State University)
Alma (Alma College)
Ann Arbor (University of Michigan)[1]
Berrien Springs (Andrews University)[2]
Big Rapids (Ferris State University)[2]
East Lansing (Michigan State University)[2]
Flint (Kettering University, University of Michigan-Flint)
Hillsdale (Hillsdale College)
Houghton (Michigan Technological University)[5]
Kalamazoo (Western Michigan University, Kalamazoo College)[2]
Marquette (Northern Michigan University)[2]
Midland (Northwood University)
Mount Pleasant (Central Michigan University)[2]
Olivet (Olivet College)[2]
Saginaw (Saginaw Valley State University)
Sault Ste. Marie (Lake Superior State University)
Spring Arbor (Spring Arbor University)[2]
Ypsilanti (Eastern Michigan University)[2]
Minnesota[edit]
Bemidji (Bemidji State University)[2]
Crookston (University of Minnesota Crookston)[2]
Duluth (University of Minnesota Duluth, Lake Superior College, The College of St. Scholastica, University of Wisconsin–Superior, Duluth Business University
Faribault, South Central College
Mankato (Minnesota State University, Mankato),[2] Bethany Lutheran College
Marshall (Southwest Minnesota State University)[2]
Moorhead (Minnesota State University, Moorhead, Concordia College)[18]
Morris (University of Minnesota Morris)[2]
Northfield (Carleton College, St. Olaf College)[5]
North Mankato, South Central College
St. Cloud (St. Cloud State University, The College of St. Scholastica)[2]
St. Joseph (College of Saint Benedict)[2]
St. Peter (Gustavus Adolphus College)[2]
Winona (Winona State University, St. Mary's University of Minnesota)[19]
Mississippi[edit]
Cleveland (Delta State University)[2]
Hattiesburg (University of Southern Mississippi)[20]
Itta Bena (Mississippi Valley State University)[2]
Oxford (University of Mississippi)[2]
Starkville (Mississippi State University)[2]
Missouri[edit]
Bolivar (Southwest Baptist University)[2]
Cape Girardeau (Southeast Missouri State University)[2]
Columbia (University of Missouri, Stephens College, Columbia College)[20]
Fayette (Central Methodist University)[2]
Fulton (Westminster College and William Woods University).
Kirksville (Truman State University, A. T. Still University)[2]
Maryville (Northwest Missouri State University)[2]
Rolla (Missouri University of Science and Technology)[2]
Warrensburg (University of Central Missouri)[5]
Montana[edit]
Bozeman (Montana State University)[2]
Dillon (University of Montana Western)[2]
Missoula (University of Montana)[5]
Nebraska[edit]
Chadron (Chadron State College)[5]
Crete (Doane College)[2]
Kearney (University of Nebraska at Kearney)[2]
Lincoln (University of Nebraska at Lincoln)[5]
Peru (Peru State College)[2]
Seward (Concordia University)[2]
Wayne (Wayne State College)[2]
Nevada[edit]
Las Vegas (University of Nevada, Las Vegas)
Reno (University of Nevada, Reno)
New Hampshire[edit]
New London, New Hampshire (Colby-Sawyer College)
Durham (University of New Hampshire)[2]
Hanover (Dartmouth College)[5]
Henniker (New England College)
Keene (Keene State College)[2]
Plymouth (Plymouth State University)[2]
Rindge (Franklin Pierce University)
New Jersey[edit]
Ewing (The College of New Jersey), (Rider University)
Jersey City (New Jersey City University), (Saint Peter's University)
Glassboro (Rowan University)[2]
Hoboken (Stevens Institute of Technology)
Madison (Drew University), (Fairleigh Dickinson University), (College of Saint Elizabeth)
Newark (Rutgers University), (New Jersey Institute of Technology), (UMDNJ)
New Brunswick (Rutgers University)[5]
Princeton (Princeton University)[5]
Union (Kean University)
West Long Branch (Monmouth University)
New Mexico[edit]
Hobbs (University of the Southwest)[2]
Las Cruces (New Mexico State University)[2]
Las Vegas (New Mexico Highlands University)[2]
Portales (Eastern New Mexico University)[2]
Silver City (Western New Mexico University)[2]
New York[edit]
Alfred (Alfred University, Alfred State College)[2]
Albany (SUNY Albany, Siena College, Albany College of Pharmacy, Albany Law School, Albany Medical College, College of Saint Rose, Excelsior College, Maria College of Albany, Mildred Elley, Sage College of Albany)
Aurora (Wells College)[21]
Binghamton (Binghamton University)[2]
Brockport (SUNY Brockport)[5]
Buffalo (University at Buffalo)
Canton (St. Lawrence University, SUNY Canton)[2]
Clinton (Hamilton College)[2]
Cobleskill (SUNY Cobleskill)[2]
Delhi (SUNY Delhi)[2]
Fredonia (SUNY Fredonia)[2]
Geneseo (SUNY Geneseo)[2]
Geneva (Hobart and William Smith Colleges)
Hamilton (Colgate University)[2]
Ithaca (Cornell University, Ithaca College)[1]
Morningside Heights, Manhattan (Columbia University, Barnard College, Teachers College, Manhattan School of Music, Jewish Theological Seminary, Union Theological Seminary, Bank Street College of Education)
New Paltz (SUNY New Paltz)[2]
Oneonta (SUNY Oneonta, Hartwick College)[2]
Oswego (SUNY Oswego)[2]
Plattsburgh (SUNY Plattsburgh)[2]
Potsdam (SUNY Potsdam, Clarkson University)[2]
Poughkeepsie (Vassar College, Marist College)[2]
Purchase (Purchase College, Manhattanville College)[2]
Rochester (University of Rochester, Rochester Institute of Technology, Nazareth College, St. John Fisher College, Monroe Community College, Roberts Wesleyan College, SUNY Brockport, SUNY Empire State College)[2]
Saratoga Springs (Skidmore College)[2]
Seneca Falls (New York Chiropractic College)
Stony Brook (Stony Brook University)
Syracuse (Syracuse University, SUNY ESF, Upstate Medical University)
Tivoli (Bard College)
Troy (Rensselaer Polytechnic Institute, Russell Sage College, Hudson Valley Community College)
West Point (United States Military Academy)
North Carolina[edit]
Banner Elk (Lees-McRae College)
Boiling Springs (Gardner-Webb University)[2]
Boone (Appalachian State University)[2]
Buies Creek (Campbell University)[2]
Chapel Hill (University of North Carolina at Chapel Hill)[20]
Cullowhee (Western Carolina University)[2]
Davidson (Davidson College)[5]
Durham (Duke University, North Carolina Central University)[5]
Elon (Elon University)[2]
Greensboro (University of North Carolina at Greensboro, Greensboro College, Guilford College, North Carolina A & T State University, Bennett College)
Greenville (East Carolina University)[2]
Hickory (Lenoir-Rhyne University)[2]
Mars Hill (Mars Hill College)[2]
Mount Olive (Mount Olive College)[2]
Pembroke (University of North Carolina at Pembroke)[2]
Wilmington, North Carolina (University of North Carolina at Wilmington)
Wingate (Wingate University)[2]
Winston-Salem (Wake Forest University, University of North Carolina School of the Arts, Salem College, Winston-Salem State University)
North Dakota[edit]
Fargo (North Dakota State University)[18]
Grand Forks (University of North Dakota)[5]
Ohio[edit]
Ada (Ohio Northern University)[2]
Alliance (University of Mount Union)
Ashland (Ashland University)[2]
Athens (Ohio University)[2]
Berea (Baldwin Wallace College)
Bluffton (Bluffton University)[2]
Bowling Green (Bowling Green State University)[2]
Cedarville (Cedarville University)[2]
Columbus (Ohio State University)
Delaware (Ohio Wesleyan University)
Fairborn (Wright State University)
Findlay (University of Findlay)
Gambier (Kenyon College)[2]
Granville (Denison University)[2]
Hiram (Hiram College)[2]
Kent (Kent State University)[2]
Nelsonville (Hocking College)[2]
New Concord (Muskingum College)[2]
Oberlin (Oberlin College)[5]
Oxford (Miami University)[5]
Rio Grande (University of Rio Grande)[2]
Wilberforce (Wilberforce University, Central State University)[2]
Oklahoma[edit]
Ada (East Central University)[2]
Alva (Northwestern Oklahoma State University)[2]
Durant (Southeastern Oklahoma State University)[2]
Edmond (University of Central Oklahoma, Oklahoma Christian University)[2]
Goodwell (Oklahoma Panhandle State University)[2]
Langston (Langston University)[5]
Norman (University of Oklahoma)[1]
Stillwater (Oklahoma State University)[5]
Tahlequah (Northeastern State University)[2]
Tulsa (The University of Tulsa)
Weatherford (Southwestern Oklahoma State University)
Oregon[edit]
Ashland (Southern Oregon University)[2]
Corvallis (Oregon State University)[20]
Eugene (Lane Community College, Northwest Christian University, University of Oregon)[20]
Forest Grove (Pacific University)
Klamath Falls (Klamath Community College, Oregon Institute of Technology)
La Grande (Eastern Oregon University)[2]
Marylhurst (Marylhurst University)
McMinnville (Linfield College)
Monmouth (Western Oregon University)[2]
Newberg (George Fox University)
Pennsylvania[edit]
Altoona (Penn State Altoona)
Annville (Lebanon Valley College)[2]
Bethlehem (Lehigh University, Moravian College)
Bloomsburg (Bloomsburg University of Pennsylvania)[2]
Bradford (University of Pittsburgh at Bradford)
California (California University of Pennsylvania)[2]
Carlisle (Dickinson College)
Cecil B. Moore, Philadelphia, also known as "Templetown" (Temple University)
Clarion (Clarion University of Pennsylvania)[2]
Collegeville (Ursinus College)
Cresson (Mount Aloysius College)[2]
East Stroudsburg (East Stroudsburg University of Pennsylvania)[2]
Edinboro (Edinboro University of Pennsylvania)[2]
Erie (Gannon University, Mercyhurst College, Penn State Erie)
Gettysburg (Gettysburg College)[2]
Greensburg (Seton Hill University, University of Pittsburgh at Greensburg)
Grove City (Grove City College)[2]
Huntingdon (Juniata College)[2]
Indiana (Indiana University of Pennsylvania)[2]
Johnstown (University of Pittsburgh at Johnstown)
Kutztown (Kutztown University of Pennsylvania)[2]
Lancaster (Franklin & Marshall)
Lewisburg (Bucknell University)[5]
Lock Haven (Lock Haven University of Pennsylvania)[2]
Loretto (St. Francis University)[2]
Mansfield (Mansfield University of Pennsylvania)[2]
Meadville (Allegheny College)
Mont Alto (Penn State Mont Alto)
Millersville (Millersville University of Pennsylvania)[2]
New Wilmington (Westminster College)[2]
North East (Mercyhurst North East)

In [17]:
city_homes = pd.read_csv("City_Zhvi_AllHomes.csv")
city_homes.head(100)

,RegionID,RegionName,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,1996-07,...,2015-11,2015-12,2016-01,2016-02,2016-03,2016-04,2016-05,2016-06,2016-07,2016-08
0,6181,New York,NY,New York,Queens,1,NaN,NaN,NaN,NaN,...,573600,576200,578400,582200,588000,592200,592500,590200,588000,586400
1,12447,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,2,155000.0,154600.0,154400.0,154200.0,...,558200,560800,562800,565600,569700,574000,577800,580600,583000,585100
2,17426,Chicago,IL,Chicago,Cook,3,109700.0,109400.0,109300.0,109300.0,...,207800,206900,206200,205800,206200,207300,208200,209100,211000,213000
3,13271,Philadelphia,PA,Philadelphia,Philadelphia,4,50000.0,49900.0,49600.0,49400.0,...,122300,121600,121800,123300,125200,126400,127000,127400,128300,129100
4,40326,Phoenix,AZ,Phoenix,Maricopa,5,87200.0,87700.0,88200.0,88400.0,...,183800,185300,186600,188000,189100,190200,191300,192800,194500,195900
5,18959,Las Vegas,NV,Las Vegas,Clark,6,121600.0,120900.0,120400.0,120300.0,...,190600,192000,193600,194800,195400,196100,197300,198200,199300,200600
6,54296,San Diego,CA,San Diego,San Diego,7,161100.0,160700.0,160400.0,160100.0,...,525700,526700,527800,529200,531000,533900,536900,537900,539000,540500
7,38128,Dallas,TX,Dallas-Fort Worth,Dallas,8,NaN,NaN,NaN,NaN,...,134600,136600,138700,140600,142200,143300,144500,146000,148200,150400
8,33839,San Jose,CA,San Jose,Santa Clara,9,224500.0,224900.0,225400.0,226100.0,...,789700,792100,795800,803100,811900,817600,819100,820100,821700,822700
9,25290,Jacksonville,FL,Jacksonville,Duval,10,77500.0,77200.0,76800.0,76600.0,...,132000,132500,133100,133900,134900,136000,137200,138400,139500,140300
10,20330,San Francisco,CA,San Francisco,San Francisco,11,262500.0,263500.0,264100.0,265000.0,...,1105800,1112300,1117400,1122700,1125200,1123200,1119800,1114800,1108800,1104000
11,10221,Austin,TX,Austin,Travis,12,NaN,NaN,NaN,NaN,...,287300,289300,291100,293400,296000,299200,301800,303300,304100,304800
12,17762,Detroit,MI,Detroit,Wayne,13,NaN,NaN,NaN,NaN,...,38500,38400,38300,38000,37600,37400,37500,37500,37700,38100
13,10920,Columbus,OH,Columbus,Franklin,14,83100.0,83200.0,83300.0,83500.0,...,115200,115800,116200,116700,117200,117700,118100,118800,119700,120500
14,32811,Memphis,TN,Memphis,Shelby,15,60600.0,60500.0,60700.0,60800.0,...,69600,69800,69900,70800,72000,73100,74300,75100,75600,76200
15,24043,Charlotte,NC,Charlotte,Mecklenburg,16,94500.0,94900.0,95700.0,96400.0,...,162800,164300,165500,166500,167400,168400,169500,170400,171700,173100
16,17933,El Paso,TX,El Paso,El Paso,17,67400.0,67800.0,68000.0,68300.0,...,110200,110000,110200,110600,111200,111500,111400,111500,112100,112300
17,44269,Boston,MA,Boston,Suffolk,18,123100.0,122800.0,123100.0,123800.0,...,471000,474600,478700,482900,486200,488000,489700,493400,499200,504200
18,16037,Seattle,WA,Seattle,King,19,164400.0,163900.0,163600.0,163400.0,...,533700,538700,544300,551200,559700,568600,576200,581800,587200,592200
19,3523,Baltimore,MD,Baltimore,Baltimore City,20,53200.0,53900.0,54400.0,54700.0,...,113600,114000,114500,114700,114800,114700,114600,114900,115100,115200
20,11093,Denver,CO,Denver,Denver,21,98700.0,99200.0,99600.0,100200.0,...,330500,332100,333500,335600,337600,339700,342700,345900,349800,353300
21,41568,Washington,DC,Washington,District of Columbia,22,NaN,NaN,NaN,NaN,...,501200,502500,503800,504700,503800,503400,505100,508900,513900,518600
22,6118,Nashville,TN,Nashville,Davidson,23,83100.0,83800.0,84800.0,85900.0,...,189300,191400,193300,195100,196800,198400,200300,202400,205000,207200
23,5976,Milwaukee,WI,Milwaukee,Milwaukee,24,68100.0,68100.0,68100.0,67800.0,...,94600,94300,94200,94600,95200,95900,96300,96900,98200,99500
24,7481,Tucson,AZ,Tucson,Pima,25,91500.0,91500.0,91600.0,91500.0,...,148200,148400,148800,149500,150300,150700,151100,151700,152400,153000
25,13373,Portland,OR,Portland,Multnomah,26,121100.0,122200.0,123000.0,123600.0,...,343400,347800,351900,356100,360000,364400,369300,375700,383600,390500
26,33225,Oklahoma City,OK,Oklahoma City,Oklahoma,27,64900.0,65400.0,65700.0,65800.0,...,127300,127700,127600,127700,128400,129000,129300,129600,130100,130500
27,40152,Omaha,NE,Omaha,Douglas,28,88900.0,89600.0,90400.0,90800.0,...,140300,140500,140900,141600,142400,142800,142700,142500,143100,143800
28,23429,Albuquerque,NM,Albuquerque,Bernalillo,29,115400.0,115600.0,116000.0,116700.0,...,167300,167800,168300,169100,169900,170300,170500,171100,171800,172000
29,18203,Fresno,CA,Fresno,Fresno,30,90400.0,90400.0,90200.0,90000.0,...,187600,187700,187900,189000,190200,191200,192700,194300,195800,197100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,53060,Lubbock,TX,Lubbock,Lubbock,71,NaN,NaN,NaN,NaN,...,111100,111500,112400,113500,114400,115200,115600,115900,116200,116400
71,18298,Glendale,AZ,Phoenix,Maricopa,72,96200.0,96400.0,96800.0,97200.0,...,186000,186900,187500,188200,189300,190800,192800,194800,196500,198000
72,24457,Durham,NC,Durham,Durham,73,78800.0,76600.0,75300.0,74800.0,...,170800,172200,173000,173000,172800,173000,173500,174200,175300,176300
73,13121,Orlando,FL,Orlando,Orange,74,71400.0,71500.0,71800.0,72200.0,...,147200,149000,150600,151300,152100,152800,153900,154800,155200,155400
74,6210,Norfolk,VA,Virginia Beach,Norfolk City,75,76500.0,77300.0,77600.0,77500.0,...,171800,171900,172100,172700,173100,173500,174400,175100,175400,175500
75,26922,Saint Petersburg,FL,Tampa,Pinellas,76,60300.0,60000.0,59900.0,59800.0,...,150700,151500,152400,153300,154700,156200,157600,159000,161300,163500
76,53856,Pensacola,FL,Pensacola,Escambia,77,74600.0,74500.0,74200.0,73800.0,...,118100,118100,117600,117700,118600,119300,119900,120500,120800,121000
77,18170,Fort Wayne,IN,Fort Wayne,Allen,78,67100.0,68300.0,67900.0,66800.0,...,92500,92900,93200,93900,94800,95800,96100,95600,94300,93600
78,11722,Greensboro,NC,Greensboro,Guilford,79,89400.0,89300.0,89400.0,89600.0,...,121500,121800,122200,122300,122400,122400,122700,122900,123300,123700
79,32503,Lincoln,NE,Lincoln,Lancaster,80,86100.0,86600.0,87100.0,87600.0,...,149200,149900,150600,151100,151200,151300,151700,151900,152000,152200
80,20328,San Bernardino,CA,Riverside,San Bernardino,81,76300.0,76400.0,76600.0,76700.0,...,219000,221100,222600,224100,225600,227100,228400,229600,231000,232400
81,24225,Corona,CA,Riverside,Riverside,82,151300.0,150900.0,150500.0,150000.0,...,414700,414000,412800,413200,415800,418500,419600,420400,423200,426100
82,51405,Chula Vista,CA,San Diego,San Diego,83,173400.0,173100.0,173000.0,172700.0,...,450700,452600,453600,454800,457600,461400,465400,468700,471800,474000
83,44564,Chesapeake,VA,Virginia Beach,Chesapeake City,84,108700.0,109000.0,109500.0,109500.0,...,243700,244800,244800,244700,244400,242900,242300,242900,243700,244300
84,25104,Hialeah,FL,Miami-Fort Lauderdale,Miami-Dade,85,85300.0,85500.0,85100.0,84900.0,...,187200,188800,189600,189500,190400,192500,195100,197500,199300,200700
85,398849,Madison,WI,Madison,Dane,86,NaN,121100.0,120900.0,120400.0,...,209500,209700,210500,212600,214000,214500,215300,216100,216900,217800
86,24741,Fontana,CA,Riverside,San Bernardino,87,109000.0,108200.0,107600.0,107500.0,...,320600,321800,323200,325300,328000,330600,332900,333700,334200,335200
87,31614,Fort Myers,FL,Fort Myers,Lee,88,90900.0,91500.0,91700.0,91800.0,...,181500,182700,184100,185500,186300,186700,187700,189200,191200,193100
88,25428,Knoxville,TN,Knoxville,Knox,89,65700.0,66000.0,66500.0,66900.0,...,118800,119100,118900,118700,118400,117600,117400,118000,118900,119700
89,52893,Laredo,TX,Laredo,Webb,90,62500.0,62400.0,62300.0,62300.0,...,113200,114400,115200,115200,115800,117300,118500,119200,120000,120600
90,26187,North Las Vegas,NV,Las Vegas,Clark,91,119900.0,119600.0,119100.0,118700.0,...,176300,177200,177900,178900,180100,181000,181900,182900,184300,185900
91,5573,Lawrenceville,GA,Atlanta,Gwinnett,92,120300.0,119200.0,118400.0,118000.0,...,165600,167100,167800,168600,170100,171100,171700,172300,173200,174200
92,11540,Fremont,CA,San Francisco,Alameda,93,214600.0,214000.0,213700.0,213700.0,...,859700,867800,877400,886200,890600,890800,892200,893500,894600,896300
93,52001,Fayetteville,NC,Fayetteville,Cumberland,94,86600.0,86500.0,86500.0,86400.0,...,109600,109800,109000,108500,109000,109400,109400,109900,110900,111900
94,7222,Springfield,MO,Springfield,Greene,95,73100.0,73300.0,73500.0,74100.0,...,113500,113400,113800,114400,114900,115500,116200,116400,116600,116800
95,30258,Arlington,VA,Washington,Arlington,96,186600.0,185000.0,184400.0,183800.0,...,617200,618100,619600,622400,625900,626900,625700,624700,624800,625200
96,12065,Irving,TX,Dallas-Fort Worth,Dallas,97,NaN,NaN,NaN,NaN,...,150200,152600,154700,156500,158000,159300,160900,162500,164700,166800
97,4888,Gilbert,AZ,Phoenix,Maricopa,98,128800.0,129300.0,130000.0,130600.0,...,276900,278200,279300,280200,280800,281100,281600,282400,283300,284100
98,54346,Scottsdale,AZ,Phoenix,Maricopa,99,177500.0,177700.0,178000.0,178000.0,...,403300,404700,405700,407300,409300,411300,413000,414600,415700,416300
99,13550,Rochester,NY,Rochester,Monroe,100,52500.0,54100.0,54400.0,54000.0,...,65200,65600,66200,66900,67400,67300,66900,66800,66900,66900

In [18]:
gdp = pd.read_excel("gdplev.xls")
gdp.head(100)

,"Current-Dollar and ""Real"" Gross Domestic Product",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,2016-09-29 00:00:00
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Annual,NaN,NaN,NaN,Quarterly,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,(Seasonally adjusted annual rates),NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,GDP in billions of current dollars,GDP in billions of chained 2009 dollars,NaN,NaN,GDP in billions of current dollars,GDP in billions of chained 2009 dollars,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1929,104.6,1056.6,NaN,1947q1,243.1,1934.5,NaN
8,1930,92.2,966.7,NaN,1947q2,246.3,1932.3,NaN
9,1931,77.4,904.8,NaN,1947q3,250.1,1930.3,NaN
10,1932,59.5,788.2,NaN,1947q4,260.3,1960.7,NaN
11,1933,57.2,778.3,NaN,1948q1,266.2,1989.5,NaN
12,1934,66.8,862.2,NaN,1948q2,272.9,2021.9,NaN
13,1935,74.3,939,NaN,1948q3,279.5,2033.2,NaN
14,1936,84.9,1060.5,NaN,1948q4,280.7,2035.3,NaN
15,1937,93,1114.6,NaN,1949q1,275.4,2007.5,NaN
16,1938,87.4,1077.7,NaN,1949q2,271.7,2000.8,NaN
17,1939,93.5,1163.6,NaN,1949q3,273.3,2022.8,NaN
18,1940,102.9,1266.1,NaN,1949q4,271,2004.7,NaN
19,1941,129.4,1490.3,NaN,1950q1,281.2,2084.6,NaN
20,1942,166,1771.8,NaN,1950q2,290.7,2147.6,NaN
21,1943,203.1,2073.7,NaN,1950q3,308.5,2230.4,NaN
22,1944,224.6,2239.4,NaN,1950q4,320.3,2273.4,NaN
23,1945,228.2,2217.8,NaN,1951q1,336.4,2304.5,NaN
24,1946,227.8,1960.9,NaN,1951q2,344.5,2344.5,NaN
25,1947,249.9,1939.4,NaN,1951q3,351.8,2392.8,NaN
26,1948,274.8,2020,NaN,1951q4,356.6,2398.1,NaN
27,1949,272.8,2008.9,NaN,1952q1,360.2,2423.5,NaN
28,1950,300.2,2184,NaN,1952q2,361.4,2428.5,NaN
29,1951,347.3,2360,NaN,1952q3,368.1,2446.1,NaN
...,...,...,...,...,...,...,...,...
70,1992,6539.3,9266.6,NaN,1962q4,613.1,3418,NaN
71,1993,6878.7,9521,NaN,1963q1,622.7,3456.1,NaN
72,1994,7308.8,9905.4,NaN,1963q2,631.8,3501.1,NaN
73,1995,7664.1,10174.8,NaN,1963q3,645,3569.5,NaN
74,1996,8100.2,10561,NaN,1963q4,654.8,3595,NaN
75,1997,8608.5,11034.9,NaN,1964q1,671.1,3672.7,NaN
76,1998,9089.2,11525.9,NaN,1964q2,680.8,3716.4,NaN
77,1999,9660.6,12065.9,NaN,1964q3,692.8,3766.9,NaN
78,2000,10284.8,12559.7,NaN,1964q4,698.4,3780.2,NaN
79,2001,10621.8,12682.2,NaN,1965q1,719.2,3873.5,NaN
80,2002,10977.5,12908.8,NaN,1965q2,732.4,3926.4,NaN
81,2003,11510.7,13271.1,NaN,1965q3,750.2,4006.2,NaN
82,2004,12274.9,13773.5,NaN,1965q4,773.1,4100.6,NaN
83,2005,13093.7,14234.2,NaN,1966q1,797.3,4201.9,NaN
84,2006,13855.9,14613.8,NaN,1966q2,807.2,4219.1,NaN
85,2007,14477.6,14873.7,NaN,1966q3,820.8,4249.2,NaN
86,2008,14718.6,14830.4,NaN,1966q4,834.9,4285.6,NaN
87,2009,14418.7,14418.7,NaN,1967q1,846,4324.9,NaN
88,2010,14964.4,14783.8,NaN,1967q2,851.1,4328.7,NaN
89,2011,15517.9,15020.6,NaN,1967q3,866.6,4366.1,NaN
90,2012,16155.3,15354.6,NaN,1967q4,883.2,4401.2,NaN
91,2013,16691.5,15612.2,NaN,1968q1,911.1,4490.6,NaN
92,2014,17393.1,15982.3,NaN,1968q2,936.3,4566.4,NaN
93,2015,18036.6,16397.2,NaN,1968q3,952.3,4599.3,NaN
94,NaN,NaN,NaN,NaN,1968q4,970.1,4619.8,NaN
95,NaN,NaN,NaN,NaN,1969q1,995.4,4691.6,NaN
96,NaN,NaN,NaN,NaN,1969q2,1011.4,4706.7,NaN
97,NaN,NaN,NaN,NaN,1969q3,1032,4736.1,NaN
98,NaN,NaN,NaN,NaN,1969q4,1040.7,4715.5,NaN
99,NaN,NaN,NaN,NaN,1970q1,1053.5,4707.1,NaN

In [6]:
def get_list_of_university_towns():
    '''Returns a DataFrame of towns and the states they are in from the 
    university_towns.txt list. The format of the DataFrame should be:
    DataFrame( [ ["Michigan", "Ann Arbor"], ["Michigan", "Yipsilanti"] ], 
    columns=["State", "RegionName"]  )
    
    The following cleaning needs to be done:

    1. For "State", removing characters from "[" to the end.
    2. For "RegionName", when applicable, removing every character from " (" to the end.
    3. Depending on how you read the data, you may need to remove newline character '\n'. '''
    university_towns = pd.read_csv("university_towns.txt", sep=" ", header=None)
    
    return "ANSWER"
get_list_of_university_towns()

CParserError: Error tokenizing data. C error: Expected 1 fields in line 2, saw 3

In [ ]:
def get_recession_start():
    '''Returns the year and quarter of the recession start time as a 
    string value in a format such as 2005q3'''
    
    return "ANSWER"

In [ ]:
def get_recession_end():
    '''Returns the year and quarter of the recession end time as a 
    string value in a format such as 2005q3'''
       
    return "ANSWER"

In [ ]:
def get_recession_bottom():
    '''Returns the year and quarter of the recession bottom time as a 
    string value in a format such as 2005q3'''
    
    return "ANSWER"

In [ ]:
def convert_housing_data_to_quarters():
    '''Converts the housing data to quarters and returns it as mean 
    values in a dataframe. This dataframe should be a dataframe with
    columns for 2000q1 through 2016q3, and should have a multi-index
    in the shape of ["State","RegionName"].
    
    Note: Quarters are defined in the assignment description, they are
    not arbitrary three month periods.
    
    The resulting dataframe should have 67 columns, and 10,730 rows.
    '''
    
    return "ANSWER"

In [ ]:
def run_ttest():
    '''First creates new data showing the decline or growth of housing prices
    between the recession start and the recession bottom. Then runs a ttest
    comparing the university town values to the non-university towns values, 
    return whether the alternative hypothesis (that the two groups are the same)
    is true or not as well as the p-value of the confidence. 
    
    Return the tuple (different, p, better) where different=True if the t-test is
    True at a p<0.01 (we reject the null hypothesis), or different=False if 
    otherwise (we cannot reject the null hypothesis). The variable p should
    be equal to the exact p value returned from scipy.stats.ttest_ind(). The
    value for better should be either "university town" or "non-university town"
    depending on which has a lower mean price ratio (which is equivilent to a
    reduced market loss).'''
    
    return "ANSWER"